@mixin font($font_name, $file_name, $weight, $style)
	@font-face 
		font-family: $font_name
		font-display: swap
		src: url("../fonts/#{$file_name}.woff"), url("../fonts/#{$file_name}.woff2")
		font-weight: $weight
		font-style: $style
	

@import "fonts"
.header
	h1
		// background: url(../img/logo.png) 0 0 no-repeat
.main
	font-size: 20px
	@media (max-width:767px) 
		font-size: 50px
	
